//Страничка админ группы
.breadcrumbs
	padding-left: 0
	list-style: none
	margin-top: 25px
	margin-bottom: 8px
	li,
	a
		font-size: 12px
		font-family: "LatoLight", Arial, sans-serif
		color: #fff
		display: inline-block
		vertical-align: middle
		text-decoration: none
	a
		position: relative
		padding-right: 17px
		&:after
			content: '\E5CC'
			position: absolute
			top: 0
			right: 0
			font-family: 'Material Icons'
			font-size: 13px

.page-title
	font-size: 24px
	color: #fff
	font-weight: normal
	text-transform: uppercase
.page
	background-color: #f3f4f5
	height: 100%
.page-group
	overflow-y: hidden
.page-info-group
	background: url(../img/bg_fon.jpg) 0 0 no-repeat
	background-size: cover
	min-height: 239px
	position: relative
	padding: 10px
.page-group-content
	position: relative
	top: -83px
	left: 0
	right: 0
	margin: auto
	width: 85%
	max-width: 885px


//Страничка админ одной группы. Просмотр
.page-single-group
	margin-right: 348px
	@extend .page-group
	.page-group-content
		max-width: 615px



@media (max-width:767px)
	.page
		background-color: #fff
	.breadcrumbs
		display: none
	.page-info-group
		background-position: 75% 0
	.page-title
		padding-top: 170px
	.page-group-content
		top: 0
	.page-single-group
		.page-info-group
			min-height: 181px
			background-position: 82% top
			background-size: cover
		.page-title
			padding-top: 83px

@media (min-width:768px) and (max-width:991px)
	.page-group-content
		top: -139px

@media (max-width:991px)
	.page-group-content
		width: 100%
		max-width: 100%
	.page-group
		overflow-y: auto
	.page-info-group
		background-position: 75% top
		background-size: cover
		min-height: 295px