//Ярлычки для юзеров
.label
	display: inline-block
	vertical-align: middle
	border-radius: 9px
	padding: 4px 14px 1px
	color: #fff
	text-transform: uppercase
	font-size: 9px
	line-height: 14px
	&.label-new
		background-color: #fbc02d
	&.label-off
		background-color: #6892c8
	&.label-on
		background-color: #4caf50

.badge
	border-radius: 15px
	min-width: 18px
	padding: 3px 6px
	font-size: 11px
	font-family: "LatoLight", Arial, sans-serif
	color: #fff
	text-align: center
	display: inline-block
	font-weight: normal
	line-height: 1
	white-space: nowrap
	vertical-align: middle
	&.badge-default
		background-color: $main_bg