//Сайдбар. Правый. Фиксированный
.page-aside
	height: 100%
	width: 348px
	top: 66px
	background-color: #fff

.page-aside-fixed
	position: fixed

.page-aside-right
	right: 0
	transition: right 0.25s

.aside-header
	padding: 10px 15px 5px
	border-bottom: 1px solid #cccccc
	text-align: center
	.button
		display: inline-block
		vertical-align: middle
		width: 79%
		a:first-child
			margin-right: 50px
.aside-content
	padding: 5px 30px
	h2
		font-size: 20px
		font-family: "LatoBold", Arial, sans-serif
		margin-bottom: 10px
	p
		margin-top: 0
		font-size: 18px
	.aside-info-block
		margin-top: 50px
		padding-left: 0
		list-style: none
		li
			font-size: 0
			margin-bottom: 10px
		span
			display: inline-block
			vertical-align: bottom
			width: 50%
		span.sub-text
			font-size: 13px
		span.main-text
			font-size: 16px

@media (max-width:767px)
	.page-single-group
		margin-right: auto
	.page-aside-right
		right: -348px
		transition: right .25s ease
		&.open-aside
			right: 0
			width: 100%
			z-index: 1000
			.page-aside-switch
				display: none
	.page-aside-switch
		display: block
		position: absolute
		top: 20px
		color: #fff
		right: 365px
	.page-aside-switch-inner
		display: inline-block
		vertical-align: middle
		width: 19%
		height: 15px
		background: url(../img/sprite.png) -27px 0 no-repeat

@media (min-width:580px) and (max-width:767px)
	.aside-content .aside-info-block span
		width: 20%

@media (min-width:768px)
	.page-aside-switch
		display: none
	.aside-header .button
		width: 100%
	.site-menubar-unfold
		.page-single-group
			margin-right: 175px
			transition: margin-right 0.25s
		.page-aside-right
			right: -95px

@media (min-width:768px) and (max-width:1199px)
	.page-single-group
		margin-right: 270px
	.page-aside
		width: 270px

@media (min-width:768px) and (max-width:991px)
	.page-single-group
		.btn-fixed
			right: 300px

@media (min-width:992px) and (max-width:1100px)
	.page-single-group
		.btn-fixed
			right: 16px
			top: 80%

@media (max-width:1199px)
	.aside-header
		text-align: right
		.button a:first-child
			margin-right: 0

@media (min-width:1200px)
	.site-menubar-unfold
		.page-aside-right
			right: -175px

@media (min-width:1400px)
	.site-menubar-unfold
		.page-single-group
			margin-right: 348px
			transition: margin-right 0.25s
		.page-aside-right
			right: 0