//ТАБЛИЦЫ
.table-wrapper
	height: 435px
	overflow-y: auto
	overflow-x: hidden
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.08), 0 1px 2px 0 rgba(0,0,0,.13)
	border-radius: 2px
.table-content
	display: table
	width: 100%
	background-color: #fff
	border-radius: 2px
	padding: 30px 0
	.table-row
		display: table-row
		.table-th
			display: table-cell
			font-size: 13px
			color: $sub_text_color
			padding-bottom: 30px
			&.table-number
				padding-right: 63px
			&.table-start
				padding-right: 15px
			&.table-student
				padding-right: 35px
		&:hover .table-td
			background-color: #f4f4f4
		.table-td
			display: table-cell
			font-size: 16px
			color: $text_color
			padding: 0
			a:not(.btn-flat)
				display: inline-block
				vertical-align: top
				width: 100%
				height: 62px
				line-height: 62px
				color: $text_color
				text-decoration: none
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
		.table-number
			width: 15%
			text-align: right
			a
				padding-right: 63px
		.table-student
			width: 19%
			a
				padding-right: 35px
		.table-name
			width: 35%
		.table-start
			width: 14%
			a
				padding-right: 15px
		.table-finish
			width: 14%
		.table-start-finish
			display: none
		.table-duration
			width: 10%
			text-align: right
			font-size: 14px
			padding-right: 39px
		.table-report-period
			width: 10%
			text-align: right
			font-size: 14px
			padding-right: 13px
		.table-type-programm
			width: 30%
			padding-left: 50px
		.table-name-programm
			width: 50%
			padding-left: 30px


//Таблица на странице админ.страничка группы
.table-content-user
	.table-row
		.table-user
			padding-left: 30px
		.table-td
			vertical-align: middle
			.label
				margin-left: 13px
		.table-image
			width: 10%
			text-align: right
			padding-left: 30px
			a.user-img
				width: 42px
				height: 42px
				line-height: 42px
				i
					line-height: 42px
		.table-button
			width: 10%
			text-align: left
			padding-right: 20px
		.table-name
			width: 80%
			a
				padding-left: 30px

//Таблица на странице Участники
.table-users.table-content
	@extend .table-content-user
	.table-row
		.table-td
			font-size: 14px
			text-align: right
			width: 15%
		.table-user
			width: 35%
		.table-group,
		.table-start,
		.table-finish
			width: 15%
			text-align: right
		.table-image
			width: 8%
			vertical-align: top
			padding-top: 10px
		.table-name
			width: 35%
			font-size: 16px
			text-align: left
			.programm
				display: inline-block
				vertical-align: middle
				width: 100%
				color: $sub_text_color
				padding-top: 10px
			a
				line-height: 1
				white-space: normal
				text-overflow: none
				vertical-align: middle
				padding-top: 10px
		.table-finish
			padding-right: 30px
	.period-xs,
	.group-md
		display: none


//Таблица на странице Программы
.table-content-programms
	.table-row
		&:hover .table-td
			background-color: transparent
		.table-name-programm
			width: 35%
			.table-name-desc
				display: block
				font-size: 14px
				line-height: 18px
				color: $sub_text_color
		.table-td
			padding-top: 21px
		.table-type-programm
			width: 25%
		.table-duration
			width: 10%
			padding-right: 0
		.table-report-period
			width: 10%
		.table-remove
			width: 10%
			text-align: center
			button
				color: #bdbdbd
				background-color: transparent
				border: none
				box-shadow: none
				outline: none
				vertical-align: middle
				transition: .3s ease-in-out
				i
					font-size: 18px
					padding-top: 5px
				&:hover
					color: #454545

//Таблица на странице Питание
.table-content-food
	.table-row
		.table-name-programm.table-td
			a
				min-height: 88px
				white-space: normal
				overflow: visible
				line-height: 1.4
				padding: 10px 0
			.desc
				display: block
				width: 40%
				font-size: 14px
				color: $sub_text_color
				padding-top: 5px

//Таблица на странице Плана питания
.single-page-food
	.table-content-food
		display: table
		.table-row
			display: table-row
		.table-th
			display: table-cell
			font-size: 16px
			color: $sub_text_color
			font-family: "LatoLight", Arial, sans-serif
			text-align: left
		.table-icon
			width: 15%
			text-align: center
			p
				font-size: 12px
				font-family: "LatoLight", Arial, sans-serif
				color: $sub_text_color
				text-transform: uppercase
				padding-bottom: 32px
				position: relative
				margin: 0
				&:after
					content: ''
					position: absolute
					bottom: 0
					left: 0
					right: 0
					margin: auto
					width: 32px
					height: 32px
					background: url(../img/sprite.png) no-repeat
			&.icon-breakfast p:after
				background-position: 0 -16px
			&.icon-snack p:after
				background-position: -40px -16px
			&.icon-lunch p:after
				background-position: -74px -18px
			&.icon-dinner p:after
				background-position: -114px -16px
		.table-elements
			width: 35%
			ul
				list-style: none
				li
					margin-bottom: 5px
					padding-left: 27px
					position: relative
					&:before
						content: ''
						width: 7px
						height: 7px
						border-radius: 50%
						background-color: $main_bg
						position: absolute
						top: 9px
						left: 0
		.table-product
			width: 50%
			p
				width: 67%
				display: inline-block
				vertical-align: top
				margin-top: 0
			.btn-flat
				float: right
		.table-td
			display: table-cell

//Таблица на странице Тренировки
.table-content-training
	.table-row
		.table-td
			font-size: 14px
			height: 83px
			padding-top: 12px
			&.table-name
				font-size: 16px
				width: 45%
				padding-right: 80px
				.table-name-desc
					font-size: 14px
					color: $sub_text_color
					display: block
					line-height: 18px
					padding: 3px 0
				a
					height: 100%
					white-space: normal
					overflow: visible
			&.table-cat,
			&.table-type,
			&.table-qty
				width: 20%
				font-size: 16px
			&.table-number,
			&.table-name,
			&.table-cat,
			&.table-type,
			&.table-qty
				a
					line-height: 1
		.table-qty
			text-align: right
			padding-right: 45px
.table-wrapper-no-scroll
	@extend .table-wrapper
	height: auto

@media (max-width:767px)
	.table-wrapper
		box-shadow: none
		margin: 0 -12px
		.table-content
			display: block
			padding: 0
			.table-row
				display: block
				font-size: 0
				.table-th,
				.table-student,
				.table-start,
				.table-finish
					display: none
				.table-td.table-number
					font-size: 14px
					width: 21%
					display: inline-block
					vertical-align: top
					padding-left: 10px
				.table-start-finish
					margin: 0
					color: $sub_text_color
					font-size: 12px
					display: block
				.table-td.table-name
					width: 78%
					display: inline-block
					vertical-align: top
					padding-right: 10px
		.table-content-user
			padding: 40px 0
			.table-row
				&:hover .table-td
					background-color: transparent
				.table-td.table-image
					display: inline-block
					vertical-align: top
					padding-left: 0
					padding-top: 0
					a
						padding-top: 0
				.table-td.table-name
					display: inline-block
					vertical-align: top
					width: 67%
					span:first-child
						display: block
						white-space: nowrap
						overflow: hidden
						text-overflow: ellipsis
					.label
						margin-left: 0
				.table-button
					display: inline-block
					vertical-align: top
				.table-td a
					line-height: 1.6
					padding-top: 10px
		.table-content-rules
			padding-top: 30px
			.table-duration,
			.table-report-period,
			.table-type-programm,
			.table-th.table-name-programm
				display: none
			.table-name-programm
				width: 100%
				padding-left: 20px
				display: inline-block
		.table-content-food
			padding-top: 30px
			.table-row
				.table-name-programm
					width: 100%
					padding-left: 20px
					padding-right: 20px
					.desc
						width: 100%
	// Участники
	.table-users.table-content
		padding: 0
		.table-row
			.table-td
				a
					padding-top: 0 !important
			.table-image
				width: 15%
			.table-td.table-name
				width: 85%
				margin-bottom: 15px
				a
					height: 110px
				.programm
					font-size: 14px
					padding-top: 0
				.group-md
					display: block
					font-size: 12px
					span
						display: inline-block !important
			.table-group
				display: none
		.period-xs
			display: block
			font-size: 12px
	// Программы
	.table-content-programms.table-content
		padding: 40px 0
		.table-row-th.table-row
			display: none
		.table-row
			display: block
			position: relative
			&:hover,
			&:active
				background-color: #eeeeee
				.table-remove
					display: block
					right: 0
			.table-td
				display: inline-block
				vertical-align: top
			.table-name-programm
				width: 100%
				padding-left: 23px
				padding-top: 13px
				.table-name-desc
					display: none
			.table-type-programm
				width: 100%
				font-size: 14px
				color: $sub_text_color
				padding-left: 23px
				padding-top: 0
			.table-duration,
			.table-report-period
				width: 40%
				max-width: 140px
				position: relative
				padding-top: 0
				font-size: 12px
				&:before
					position: absolute
					top: -2px
					left: 23px
					color: $sub_text_color
					font-size: 14px
			.table-duration
				&:before
					content: 'Длит...(дни)'
			.table-report-period
				padding-right: 0
				padding-bottom: 13px
				&:before
					content: 'Отчет...(дни)'
			.table-remove
				padding-top: 0
				height: 91px
				position: absolute
				top: 0
				right: -100%
				line-height: 91px
				width: 16%
				transition: right 0.3s ease-in-out
				button
					height: 100%
					width: 100%
					text-align: center
					background-color: $main_bg
					color: #fff
					i
						padding-top: 0
						font-size: 24px
						line-height: 91px
	.single-page-food
		.table-content-food
			display: block
			width: 550px
			.table-row
				display: block
				margin-bottom: 10px
			.table-th,
			.table-td
				display: inline-block
				vertical-align: top
			.table-icon
				width: 80px
				padding-top: 18px
			.table-elements
				width: 150px
				ul
					padding-left: 0
			.table-product
				width: 300px
				p
					width: 100%
					padding-left: 10px
					margin-bottom: 0
					padding-top: 18px
				.btn-flat
					float: left
			.table-th.table-product
				padding-left: 10px
	.page-food
		.table-content-food
			.table-td
				display: block
	// Тренировки
	.table-content-training
		.table-wrapper-no-scroll
			height: auto
		.table-row
			&:hover
				.table-td
					background-color: transparent
			.table-cat.table-td
				padding-left: 21%
			.table-cat.table-td,
			.table-type.table-td,
			.table-qty.table-td
				display: inline-block
				width: 50%
				height: auto
				padding-bottom: 10px
				a
					height: auto
			.table-qty.table-td
				text-align: left
			.table-td
				height: auto
	.plan-training-content
		.table-row
			.table-cat.table-td
				width: 60%
			.table-qty.table-td
				width: 35%


@media (min-width:768px) and (max-width:991px)
	.table-users
		.table-row
			.table-group
				display: none
			.table-td.table-name
				a
					height: 95px
					line-height: 1
					padding-top: 15px
			.table-image
				vertical-align: top
				padding-top: 15px
			.group-md
				padding-top: 10px
				font-size: 14px
	.table-content-food
		.table-elements
			ul
				padding-left: 0


@media (min-width:768px) and (max-width:1199px)
	// Программы
	.table-content-programms
		.table-row
			.table-name-programm
				width: 30%


@media (max-width:991px)
	.table-wrapper
		height: auto
	.table-users.table-content
		.group-md
			color: $sub_text_color
			display: block
			span
				color: $text_color
				display: inline-block
				vertical-align: middle
		.table-row
			.table-name
				.programm
					display: block

@media (min-width:992px) and (max-width:1200px)
	.table-users.table-content
		.table-row
			.table-image
				width: 5%
			.table-name
				width: 46%


@media screen and (min-width: 1024px) and (max-height:800px)
	.table-wrapper
		height: 345px
	.table-wrapper-no-scroll
		height: auto

@media screen and (min-width:1400px) and (min-height:900px)
	.table-wrapper
		height: 668px
	.table-wrapper-no-scroll
		height: auto