.label {
  display: inline-block;
  vertical-align: top;
  border-radius: 9px;
  padding: 4px 14px 1px;
  color: #fff;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 14px;
}

.label.label-new {
  background-color: #fbc02d;
}

.label.label-off {
  background-color: #6892c8;
}

.label.label-on {
  background-color: #4caf50;
}
